<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ output extension=".g.cs" #>
using DUMPSYM.Tests.WorkInProgress;

namespace DUMPSYM.Tests;

public sealed partial class UnitTestClangParsing : UnitTestBase
{
<#
	var names = new[]
	{
		"FS",
		"KERNEL",
		"LIBCD",
		"LIBDS",
		"LIBGPU",
		"LIBGS",
		"LIBGTE",
		"LIBHMD",
		"LIBMCRD",
		"LIBPRESS",
		"LIBSND",
		"LIBSPU",
		"MCGUI",
		"SETJMP",
		"STDARG",
		"STDDEF",
		"TYPES",
	};

	PushIndent("	");

	foreach (var name in names)
	{
#>
[TestMethod]
public void TestParse<#= name #>()
{
	Test(Headers.<#= name #>);
}

<#
	}

	PopIndent();
#>
}
